---
const pdfUrl = "/files/specs/construction/pva.pdf";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=${pdfUrl}`} />
    <title>PVA Specification</title>
  </head>
  <body>
    <p>
      If the PDF does not open automatically, 
      <a href={pdfUrl}>click here to download</a>.
    </p>
  </body>
</html>